@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
</p>
<label> Select Your Drop Time:</label>
<select id="timing_list">
    <option>6:00 PM</option>
        <option>6:30 PM</option>
            <option>7:00 PM</option>
                <option>7:30 PM</option>
</select>
<select id="location_list">
    <option>Kharadi</option>
    <option>Hadapsar</option>
    <option>Aundh</option>
    <option>Baner</option>
    <option>Chandi Chowk</option>
    <option>Bhosari</option>
</select>
<button title=Submit></button>
